<div class="slide cta">
  <div class="a"></div><div class="a3"></div>
  <div class="h">{{ slide.fields.headline | nl2br }}</div>
  {% if slide.fields.instruction %}<div class="i">{{ slide.fields.instruction | safe }}</div>{% endif %}
  {% if slide.fields.button %}<div class="btn">{{ slide.fields.button }}</div>{% endif %}
  <div class="ft">
    <div class="av"></div>
    <div class="id"><div class="wm" style="color:#1a0f24"><span class="jc" style="color:#1a0f24">JC</span>GIUSTO</div><div class="url" style="color:#241433">jcgiusto.com</div></div>
  </div>
</div>
