{% from "_footer.html.j2" import footer %}
<div class="slide hook">
  <div class="qo">“</div><div class="qc">“</div><div class="gh"></div>
  <div class="b">{{ slide.fields.text | safe }}</div>
  {{ footer("light") }}
</div>
